extends layout

block content
    .single
        .single__hero
            img.single__image(src=`/uploads/${tourney.photo || 'store.png'}`)
            h2.title.title--single #{tourney.venue} #{tourney.buyin}

    .single__details.inner
        imp.single__map
                