mixin tourneyForm(tourney = {})
    form(action="/add" method="POST" class="card")
        label(for="venue") Venue
        input(type="text" name="venue")
        label(for="buyin") Buy In Amount
        input(type="text" name="buyin")
        label(for="date") Date of Tourney
        input(type="text" name="date")
        input(type="submit" value="Save" class="button")