mixin tourneyForm(tourney = {})
    form(action=`/add/${tourney.id || ''}` method="POST" class="card")
        label(for="venue") Venue
        input(type="text" name="venue" value=tourney.venue)
        label(for="buyin") Buy In Amount
        input(type="text" name="buyin" value=tourney.buyin)
        label(for="date") Date of Tourney
        input(type="text" name="date" value=tourney.date)
        input(type="submit" value="Save" class="button")